.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* 1.header */

header {
    width: 100%;

}

.headerDiv {
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerDiv img {
    margin-right: 30%;
}

.signUp {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    color: white;
    left: 35%;
    top: 30%;
    position: absolute;
    display: none;
}

.signUpForm {
    width: 70%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signUpForm button {
    background-color: red;
    width: 50%;
    font-weight: bold;
}

.signUp input {
    width: 100%;
    margin-top: 5px;
}

.toggle {
    display: block;
}

.headerDivLawer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.ulForHeader {
    display: flex;

}

.liForHeader {
    margin-left: 20px;
}

.liForHeader:hover {
    color: red;
}


.imgForSearch {
    height: 20px;
    width: 20px;
    margin-left: -25px;
}

.inputSearch {
    width: 20px;
    height: 30px;
    background-color: #EBEBEB;
    transition: all 1s;
    border: none;
}


.searchImg {
    width: 220px;
}

.myStyle {
    width: 200px;
}

/* 2.sectionFirst */

.sectionFirst {
    width: 100%;
    position: relative;
}

.sectionFirst img {
    width: 100%;

}

.sectionFirstDiv {
    width: 80%;
    height: 180px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

h2 {
    font-size: 40px;
    padding-left: 20px;
}

.sectionFirstDiv a {
    width: 15%;
    background-color: yellow;
    color: black;
    /* height: 30px; */
    border: none;
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

.sectionFirstDiv p {
    padding-left: 20px;
    width: 85%;
    font-size: 20px;
}


/* 3.sectionSecond */

.sectionSecond {
    width: 80%;
    margin: auto;
    margin-top: 150px;

}

.sectionSecondDiv {
    display: flex;

}

.lastArticle {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F7F7F7;
    padding-left: 15px;
}

.lastArticle span {
    font-size: 20px;
    width: 60%;

}

.lastArticle p {
    font-size: 15px;
    width: 90%;
}

.lastArticle button {
    width: 50%;
    height: 40px;
    background-color: yellow;
    border: none;
    font-weight: bold;
}

h3 {
    font-size: 40px;
}

h3:hover {
    text-decoration: underline;
    text-decoration-color: yellow
}

.slideshow-container {

    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev img,
.next img {
    cursor: pointer;
    width: 30px;
    margin-bottom: 50px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}





.buttons-container {
    display: flex;
    justify-content: flex-end;

}

.mySlades {
    display: flex;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* sectionThird */


.sectionThird {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.sectionThirdDiv {
    display: flex;
    justify-content: space-around;
}

.sectionThirdDiv img {
    width: 350px;
}

.names {
    color: #909090;
}

h4 {
    font-size: 30px;
    margin-bottom: 50px;

}

h4:hover {
    text-decoration: underline;
    text-decoration-color: yellow
}

hr {
    color: #EBEBEB;
    margin-top: 100px;
}

/* sectionFourth */

.sectionFourthDiv {
    background-image: url('./Images/backgroundimage.png');
    background-size: cover;
    height: 100vh;
    margin-top: 180px;
    position: relative;
    display: flex;
    justify-content: center;

}

.newImage {
    background-image: url('./Images/WKND-image.png');
}

.newImage1 {
    background-image: url(./Images/Photo2.jpg);
}

.newImage2 {
    background-image: url(./Images/Photo3.jpg);
}

.newImage3 {
    background-image: url(./Images/Photo4.webp);
}

h5 {
    font-size: 30px;
    margin: 150px auto auto 150px;
}

h5:hover {
    text-decoration: underline;
    text-decoration-color: yellow
}

.divOnBackground {
    width: 80%;
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 0;


}

.divOnBackground button {
    width: 15%;
    background-color: yellow;
    color: black;
    height: 30px;
    border: none;
    margin-left: 20px;
    font-weight: bold;
}

.divOnBackground p {
    padding-left: 20px;
    width: 85%;
    font-size: 20px;
}


/* sectionFifth */

.sectionFifth {
    width: 80%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sectionFifth span {
    font-size: 30px;
    margin-bottom: 100px;

}

.sectionFifthDiv {
    display: flex;
    justify-content: space-between;
}

.sectionFifthDiv img {
    width: 350px;
}

.sectionFifth button {
    margin-top: 100px;
    width: 15%;
    background-color: black;
    color: white;
    height: 50px;
    font-weight: bold;

}

.activities {
    font-weight: bold;
}

.article {
    color: #909090;
    font-size: 15px;
}


/* sectionSixth */


.sectionSixth {
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.sectionSixthDiv {
    display: flex;
}

.email-validation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F7F7F7;
    width: 80%;
}

.email-validation span {
    font-size: 30px;
    padding-left: 30px;
}

.email-validation p {
    padding-left: 30px;
    font-size: 20px;
}


.email-validation input {
    width: 20%;
    height: 40px;
    margin-left: 30px;
    background-color: #EBEBEB;
    border: none;
}

.email-validation button {
    width: 10%;
    margin-left: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.email-validation div {
    display: flex;
}

/* footer */

footer {
    width: 100%;
    height: 250px;
    background-color: black;
    color: white;
    margin-top: 100px;
    padding: 0 40px ;
    
}

.footerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 40px;
    
}





footer ul {
    display: flex;
    margin-left: 250px;
}

footer li {
    margin-left: 40px;
}

footer li:hover {
    color: grey;
    cursor: pointer;
}

h6 {
    font-size: 30px;
    font-weight: bold;
}